/* ========================
Google Font Poppins 
============================= */
body {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Poppins', sans-serif;
}

.carousel-img {
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .3;
}

.carousel-text h1 {
    font-size: 5vw;
}

.head-par {
    font-size: 2vw;
}